*
{
  margin: 0;
}
.image
{
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
}

a
{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
}


button
{
  cursor: pointer;
  padding: 3%;
  width: 70%;
  border-radius: 15px;
  border: none;
}
.primaryButton
{
  color: white;
}
.secondaryButton
{
  color: gray;
  border: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
}
.DesktopHeader
{
  background-color: #04BA56;
  display: flex;
  justify-content: space-between;
}
.selected
{
  font-weight: bold;
}
.navbar
{
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2.3% 0;
  margin-left: -5.5%;
  width: 50%;
}
.contacts
{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 4%;
}
.contactHeader
{
  width: 7%;
}

.mainSection
{
  display: flex;
}
.infoCard
{
  height: 55vh;
  padding: 1%;
  padding-bottom: 5%;
  margin: 5% 2%;
  box-shadow: 2px 2px 10px 5px rgba(180, 180, 180, 0.301);
  border-radius: 5%;
  width: 25%;
}
.infoCard p
{
  padding: 0 4%;
}
.workStatus
{
  margin: 5% 2%;
  box-shadow: 2px 2px 10px 5px rgba(180, 180, 180, 0.301);
  border-radius: 5%;
  width: 40%;
}
.corpus
{
  padding: 8%;
}
.corpus h2
{
  margin: 3% 0;
}
.corpus input
{
  margin: 5% 0;
}
.corpus button
{
  background-color: #04BA56;
  color: white;
  width: 35%;
}
.corpus input
{
  padding: 2%;
  border-radius: 8px;
  border-width: 1px;
  width: 40%;
}
.storePreview
{
  margin:5% 1%;
  height: 55vh;
  width: 25%;
}
.header
{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #04BA56;
}
.logo
{
  width: 40%;
  padding: 0 30%;
}
.previewImage
{
  width: 90%;
}
.PreviewCard
{
  margin: 20% 0;
  margin-left: 15%;
  text-align: center;
  width: 70%;
  border-radius: 7%;
  box-shadow: 2px 2px 10px 5px rgba(180, 180, 180, 0.301);
}
.PreviewCard p
{
  margin: 5% 0;
}
.PreviewCard button
{
  padding: 7%;
  margin: 10% 0;
}
.goToStore
{
  width: 50%;
}

/***************Stattus page*****************/
.client
{
  color: gray;
  display: flex;
  justify-content: space-between;
}
.Left
{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: -20%;
  width: 50%;
}
.Left h3
{
  color: gray;
  margin-bottom: 5%;
}
.statusRect
{
  color: gray;
  border: none;
  border-radius: 8px;
  width: 35%;
  padding: 3%;
  display: flex;
  align-items: center;
}
.statusRect h2
{
  padding-left: 10%;
}
.circle{
  width: 15%;
}
.Right
{
  width: 50%;
  margin-top: 10%;
}
.Information{
  display: flex;
  justify-content: space-between;
}
.Information p{
  margin: 20% 0;
}
.right
{
  padding-right: 35%;
}

/*********Contact Section***************/
.Contact
{
  color: gray;
  display: flex;
  justify-content: space-between;
}
.LeftContact
{
  width: 50%;
}
.LogoContact
{
  margin: 20% 35%;
  width: 45%;
}
.RightContact
{
  margin-right: -4%;
  margin-top: 12%;
  width: 50%;
}
.RightContact p
{
  margin: 5% 0;
}
.RightContact button
{
  padding: 2.3%;
  background-color: #04BA56;
  color:white;
  width: 38%;
}

/******Store and product sections*************/

.Store h2
{
  margin: 2% 3%;
  margin-bottom: -1%;
}
.productButt
{
  background-color: white;
  border: solid;
  border-width: 2px;
  margin-left: 5%;
}
.Info{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5%;
}
.Picture
{
  width: 30%;
  margin: 0% 10%;
}
.Inform{
  padding-top: 2%;
  width: 50%;
}
.Inform h2
{
  padding: 2% 0;
}
.Inform p{
  padding: 5% 0;
}
.buttons{
  width: 50%;
  display: flex;
  justify-content: space-between;
}